<ion-header>
  <ion-toolbar>
    <ion-title>Lista Compras</ion-title>

  </ion-toolbar>   
  
</ion-header>

<ion-content>

  <ion-menu side="start" menuId="first" contentId="meuMenu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink='/produto'>Produtos</ion-item>
        <ion-item routerLink='/lista-compra'>Lista de compras</ion-item>        
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="meuMenu">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button><ion-icon name="apps-outline"></ion-icon></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
   
  </div>

</ion-content>
